// Here you can add other styles
.right-side{
    display: flex;
    justify-content: flex-end;
}

.center{
    display: flex;
    justify-content: center;
}

.jc-sb{
    display: flex;
    justify-content: space-between;
}

.jc-fe{
    display: flex;
    justify-content: flex-end;
}

.hover-button{
    &:hover{
        cursor: pointer;
    }
}